* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .row {
  width: 100%;
}

#header .background-header {
  background-color: darkblue;
  height: 42px;
}

#header .background-header p {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 13px;
}

#header .pages-enter {
  padding: 10px;
}

#header .pages-enter ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .pages-enter ul li {
  margin-left: 10px;
}

#header .pages-enter ul li a {
  text-decoration: none;
  font-size: 13px;
  color: black;
  cursor: pointer;
}

#header .pages-enter ul li:hover a {
  display: block;
  color: blue;
}

#header .secury-information {
  margin-left: 50px;
  padding: 10px;
  font-size: 15px;
}

#header .secury-information span {
  margin-left: 5px;
}

#header .secury-information i {
  font-size: 18px;
}

#header .select {
  margin-top: 10px;
}

#header .select .dropdown {
  margin-left: 20px;
}

#header .select .dropdown .dropdown-content {
  border: 1px solid white;
  text-align: center;
  height: 140px;
  width: 100px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

#header .select .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header .select .dropdown:hover .dropdown-content {
  display: block;
}

#header .logo img {
  width: 170px;
  margin-top: 20px;
  margin-left: 13px;
}

#header .logo p {
  font-size: 10px;
  margin-left: 10px;
  margin-top: 2px;
  color: gray;
}

#header .location {
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  width: 200px;
  height: 63px;
}

#header .location p {
  font-size: 15px;
}

#header .location i {
  margin-left: 20px;
  position: absolute;
  top: 22px;
}

#header .form-inputs {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

#header .form-inputs .form-control {
  height: 55px;
  width: 550px;
  border-radius: 10px;
}

#header .form-inputs i {
  position: absolute;
  right: 10px;
  top: 15px;
}

#header .login-basket {
  margin-top: 30px;
  margin-left: 10px;
}

#header .login-basket i {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

#header .home {
  margin-left: 300px;
}

#header .home .dropdown {
  margin-left: 20px;
  position: relative;
}

#header .home .dropdown .dropdown-content {
  border: 1px solid red;
  text-align: center;
  height: 240px;
  width: 200px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

#header .home .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
}

#header .home .dropdown:hover .dropdown-content {
  display: block;
}

.shop-header {
  margin-left: 50px;
}

.shop-header .dropdown {
  margin-left: 0px;
}

.shop-header .dropdown .dropdown-content {
  border: 1px solid red;
  text-align: center;
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

.shop-header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
}

.shop-header .dropdown:hover .dropdown-content {
  display: block;
}

.exam {
  position: relative;
}

.write {
  position: absolute;
  top: 100px;
  left: 170px;
  width: 380px;
}

.write .btn {
  width: 150px;
  height: 40px;
  background-color: #2bbef9;
  color: white;
  border-radius: 13px;
}

.write h2 {
  color: red;
}

.write span {
  font-size: 15px;
  color: black;
}

.write .red {
  color: red;
}

.write .green {
  background-color: green;
  height: 10px;
}

.write .fas {
  margin-left: -29px;
  margin-top: 10px;
}

.write i {
  color: white;
}

.items {
  width: 100%;
  position: relative;
}

.items .card {
  text-align: center;
  border: 1px solid #b8afaf;
  width: 250px;
  height: 265px;
  margin-top: 50px;
}

.items .card img {
  width: 200px;
  margin-left: 25px;
}

.items .card p {
  font-size: 13px;
}

.items .card a {
  text-decoration: none;
  color: black;
}

.items .card2 {
  border: 1px solid #b8afaf;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 133px;
  width: 222px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  position: relative;
}

.items .card2 img {
  width: 60px;
  margin-top: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.items .card2 h6 {
  margin-top: 30px;
  position: absolute;
  left: 80px;
}

.items .card2 p {
  position: absolute;
  top: 50px;
  left: 110px;
}

.items .card2 a {
  text-decoration: none;
  color: black;
}

.items .card3, .items .card4, .items .card5, .items .card6 {
  position: absolute;
  left: 250px;
  top: 183px;
  border: 1px solid #b8afaf;
  width: 222px;
  height: 133px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items .card3 img, .items .card4 img, .items .card5 img, .items .card6 img {
  width: 60px;
  margin-top: 20px;
  position: absolute;
  left: 0;
}

.items .card3 h6, .items .card4 h6, .items .card5 h6, .items .card6 h6 {
  margin-top: 30px;
  position: absolute;
  left: 80px;
}

.items .card3 p, .items .card4 p, .items .card5 p, .items .card6 p {
  position: absolute;
  top: 50px;
  left: 110px;
}

.items .card3 a, .items .card4 a, .items .card5 a, .items .card6 a {
  text-decoration: none;
  color: black;
}

.items .card4 {
  position: absolute;
  left: 472px;
}

.items .card5 {
  position: absolute;
  left: 694px;
}

.items .card6 {
  position: absolute;
  left: 916px;
}

.time {
  border: 2px solid red;
  margin-top: 50px;
  width: 375px;
  height: 970px;
}

.time p {
  font-size: 20px;
  margin-left: 30px;
  background-color: red;
  width: 200px;
  text-align: center;
}

.time img {
  width: 300px;
  margin-left: 20px;
}

.time h6 {
  margin-left: 30px;
  margin-top: 40px;
  color: darkblue;
  font-size: 20px;
}

.time h3 {
  font-size: 10px;
  margin-left: 30px;
  color: gray;
}

.time h4 {
  font-size: 13px;
  margin-left: 20px;
}

.time h5 {
  margin-left: 20px;
}

.time a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.time .icons {
  margin-left: 20px;
}

.time .icons i {
  color: orange;
  font-size: 10px;
}

.card {
  height: 250px;
  margin-top: 50px;
}

.timer-cart-all {
  position: relative;
}

.timer-cart2 {
  position: absolute;
  top: 400px;
  left: 350px;
}

.basket2 {
  height: 400px;
}

.basket2 img {
  width: 200px;
  margin-left: 50px;
}

.flex-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 60px;
}

.flex-image img {
  width: 550px;
  height: 230px;
  margin-left: 20px;
}

.save {
  margin-top: 50px;
  width: 100%;
  background-color: orange;
  height: 70px;
}

.save h2 {
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-very .card h6, .card-very2 .card h6 {
  background-color: aqua;
  color: white;
  width: 50px;
  height: 27px;
  border-radius: 3px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.card-very {
  width: 100%;
}

.card-very .card {
  position: relative;
  width: 230px;
  height: 460px;
}

.card-very .card img {
  width: 180px;
  margin-left: 20px;
}

.card-very .card a {
  color: black;
  text-decoration: none;
}

.card-very .card p {
  font-size: 10px;
  color: green;
  margin-top: 20px;
}

.card-very .card h5 {
  margin-top: 10px;
  font-size: 15px;
}

.card-very .card .icons i {
  color: orange;
  font-size: 10px;
}

.card-very .card:hover .heart {
  display: block;
}

.card-very .card:hover .btns {
  display: block;
}

.card-very .card:hover .exs {
  display: block;
}

.card-very .heart {
  display: none;
  position: absolute;
  top: 50px;
  left: 180px;
  font-size: 30px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.card-very .btns {
  display: none;
  position: absolute;
  top: 400px;
  left: 10px;
  background-color: darkblue;
  border-radius: 15px;
  color: white;
  margin-left: 5px;
  margin-top: 15px;
  width: 200px;
  height: 35px;
}

.card-very .exs {
  display: none;
  position: absolute;
  top: 15px;
  left: 185px;
  font-size: 25px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.card-very2 {
  width: 100%;
}

.card-very2 .card {
  position: relative;
  width: 230px;
  height: 480px;
}

.card-very2 .card img {
  width: 200px;
  margin-left: 20px;
}

.card-very2 .card a {
  color: black;
  text-decoration: none;
}

.card-very2 .card p {
  font-size: 10px;
  color: green;
  margin-top: 20px;
}

.card-very2 .card h5 {
  margin-top: 10px;
  font-size: 15px;
}

.card-very2 .card .icons i {
  color: orange;
  font-size: 10px;
}

.card-very2 .card:hover .heart {
  display: block;
}

.card-very2 .card:hover .btns {
  display: block;
}

.card-very2 .card:hover .exs {
  display: block;
}

.card-very2 .heart {
  display: none;
  position: absolute;
  top: 50px;
  left: 180px;
  font-size: 30px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.card-very2 .btns {
  display: none;
  position: absolute;
  top: 400px;
  left: 10px;
  background-color: darkblue;
  border-radius: 15px;
  color: white;
  margin-left: 5px;
  margin-top: 15px;
  width: 200px;
  height: 35px;
}

.card-very2 .exs {
  display: none;
  position: absolute;
  top: 15px;
  left: 185px;
  font-size: 25px;
  color: black;
  background-color: white;
  cursor: pointer;
}

#images .imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  position: relative;
}

#images .imgs img {
  width: 385px;
  padding: 10px;
}

#fin {
  margin-top: 130px;
}

#fin .finish {
  position: relative;
  background-color: #233a95;
  width: 100%;
  height: 150px;
  padding: 200px;
}

#fin .finish h3 {
  color: white;
}

#fin .finish p {
  color: gray;
}

#fin .finish h5 {
  color: white;
}

#fin .finish .input .one {
  width: 500px;
  height: 60px;
  position: relative;
}

#fin .finish .input .two {
  width: 120px;
  margin-left: 20px;
  background-color: #233a95;
  color: white;
  position: absolute;
  left: 550px;
  top: 330px;
}

#fin .finish .image img {
  position: absolute;
  width: 500px;
  height: 200px;
  right: 200px;
  top: 200px;
}

#fiss .row {
  margin-top: 200px;
}

#fiss .row .uls {
  margin-left: 20px;
  list-style: none;
}

#fiss .row .uls a {
  color: black;
  text-decoration: none;
}

#fiss .row .uls ul {
  list-style: none;
  padding: 20px;
}

#tele .row {
  margin-top: 100px;
  position: relative;
}

#tele .row p {
  font-size: 10px;
}

#tele .row .ivonss {
  position: absolute;
}

#tele .row .down {
  margin-left: 470px;
}

#tele .row .down h5 {
  font-size: 16px;
}

#tele .row .down p {
  font-size: 15px;
}

#tele .row .icon {
  margin-left: 100px;
}

#tele .row .copy p {
  font-size: 12px;
  margin-left: -100px;
}

#tele .row .polisy {
  margin-left: 20px;
}

#tele .row .polisy a {
  padding: 4px;
  margin-left: 8px;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

#tele .row .payment {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */